<div class="menu-container">
  <div *ngFor="let item of menuItems">
    <!-- Si el elemento tiene subElementos, crear un dropdown -->
    <div class="dropdown" *ngIf="item.subElements && item.subElements.length; else simpleButton">
      <button class="dropbtn">{{ item.title }}</button>
      <div class="dropdown-content">
        <a *ngFor="let subItem of item.subElements" [routerLink]="subItem.link">{{ subItem.title }}</a>
      </div>
    </div>

    <!-- Plantilla para botones simples -->
    <ng-template #simpleButton>
      <button class="simplebtn" [routerLink]="item.link">{{ item.title }}</button>
    </ng-template>
  </div>
</div>
