<div class="contact-container">
  <h2><i class="fas fa-hand-sparkles"></i> {{'contact.title' | translate}}</h2>

  <div class="main-content-wrapper">

    <div class="contact-info">

      <h3>{{'contact.detailsTitle' | translate}}</h3>

      <div class="detail-item">
        <i class="fa-solid fa-location-dot icon-marker"></i>
        <div class="text-content">
          <a href="https://www.google.com/maps?q=Calle+Ejemplo+123" target="_blank" rel="noopener noreferrer">
            {{'contact.location' | translate}}
          </a>
          <p>{{'contact.city' | translate}}</p>
        </div>
      </div>

      <div class="detail-item">
        <i class="fa-solid fa-phone icon-marker"></i>
        <div class="text-content">
          <p>{{'contact.phone' | translate}}</p>
        </div>
      </div>

      <div class="detail-item">
        <i class="fa-brands fa-whatsapp icon-marker"></i>
        <div class="text-content">
          <a href="https://wa.me/623043248" target="_blank">
            {{'contact.whatsapp' | translate}}
          </a>
        </div>
      </div>

      <div class="detail-item">
        <i class="fa-solid fa-envelope icon-marker"></i>
        <div class="text-content">
          <a href="mailto:adhara@adharabeautywellness.com">
            {{'contact.email' | translate}}
          </a>
        </div>
      </div>

      <h3>{{'contact.scheduleTitle' | translate}}</h3>
      <div class="detail-item">
        <i class="fa-solid fa-calendar-day icon-marker"></i>
        <div class="text-content">
          <p>{{'contact.weekdays' | translate}}</p>
          <p>{{'contact.saturday' | translate}}</p>
          <p>{{'contact.sunday' | translate}}</p>
        </div>
      </div>


      <div class="social-media">
        <h3>{{'contact.socialTitle' | translate}}</h3>
        <a href="https://www.instagram.com/adhara_beauty_wellness/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/adhara.beautyandwellness/?locale=es_ES" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
      </div>
    </div>

    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d768.8352611328397!2d2.635342279357813!3d39.574463475217485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12979266dc6ddba5%3A0xe274796e546b4403!2sCarrer%20de%20Villalonga%2C%2033%2C%20Ponent%2C%2007013%20Palma%2C%20Illes%20Balears!5e0!3m2!1ses!2ses!4v1729426925876!5m2!1ses!2ses"
        width="100%"
        height="100%"
        style="border:0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</div>
