<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="input-group">
      <input
        type="text"
        formControlName="firstName"
        placeholder="Introduce el nombre"
        [ngClass]="{'error': formControls['firstName'].invalid && formControls['firstName'].touched}"
      />
      <input
        type="text"
        formControlName="lastName"
        placeholder="Introduce el apellido"
        [ngClass]="{'error': formControls['lastName'].invalid && formControls['lastName'].touched}"
      />
    </div>

    <div class="input-group">
      <input
        type="email"
        formControlName="email"
        placeholder="Introduce el email"
        [ngClass]="{'error': formControls['email'].invalid && formControls['email'].touched}"
      />
      <input
        type="text"
        formControlName="phone"
        placeholder="Introduce el teléfono"
        [ngClass]="{'error': formControls['phone'].invalid && formControls['phone'].touched}"
      />
    </div>

    <textarea
      formControlName="message"
      placeholder="Introduce el mensaje"
      maxlength="1000"
      [ngClass]="{'error': formControls['message'].invalid && formControls['message'].touched}"
    ></textarea>
  </div>

  <!-- <div class="error-message" *ngIf="!contactForm.valid && contactForm.touched">
    <p *ngIf="formControls['email'].errors?.['email']">Email no válido.</p>
    <p *ngIf="formControls['phone'].errors?.['pattern']">El teléfono debe contener solo números.</p>
  </div> -->

  <button type="submit" [disabled]="!contactForm.valid" class="submit-button">Enviar</button>
</form>
