@import '../../styles/constants.scss';

form {
  max-width: 600px;
  margin: auto;
  padding:$size-md;
  background-color: $white;
  border-radius:$size-sm;
  max-width: 800px;
  margin-bottom: $size-md;

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom:$size-sm;

    .input-group {
      display: flex;
      flex: 1 1 100%;
      gap: 20px;

      input {
        flex: 1;
        padding: $size-sm;
        border: 2px solid #ccc;
        border-radius: $size-s;
        outline: none;
        transition: border-color 0.3s;

        &.error {
          border-color: red;
        }
      }
    }

    textarea {
      width: 100%;
      padding: $size-sm;
      border: 1px solid #ccc;
      border-radius: $size-s;
      outline: none;
      resize: vertical;

      &.error {
        border-color: red;
      }
    }
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
  }

  .submit-button {
    display: block;
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    border-radius: $size-s;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #0056b3;
    }
  }

  // Diseño responsivo
  @media (max-width: 780px) {
    .row {
      .input-group {
        flex-direction: column;
      }

      textarea {
        width: 100%;
      }
    }
  }
}
