@import "./styles/constants.scss";



/* Estilos para secciones con fondo claro */
.section {
  background-color: #FFFFFF; /* Secondary Color - White */
  border: 1px solid #CFD8DC; /* Border Color - Soft Gray */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos de pie de página */
footer {
  background-color: #F5F5F5; /* Tertiary Color - Light Grey */
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  body {
      padding: 20px;
  }

  .button {
      width: 100%; /* Full width on small devices */
  }
}
