<div class="container">
  <div class="home-photo-container">
    <img [src]="foto" [alt]="foto"/>
  </div>
</div>
<div class="presentation-container">
  <h1>Adhara</h1>
  <h2>Beauty & Wellness</h2>
  <p class="subtitle">
    <!-- Reservado para ti, un momento exclusivo de Relajación, Belleza y Bienestar -->
    {{'home.presentation.adharaText' |translate}}
  </p>
  <div class="aboutUs">
    <p>{{"home.presentation.description"|translate}}</p>
    <p>{{"home.presentation.description2"|translate}}</p>
    <p>{{"home.presentation.description3"|translate}}</p>
  </div>
</div>
<app-home-service></app-home-service>
