@import '../../styles/constants.scss';
.services-container {
  margin-top: $size-md;

  > h2 {
    text-align: center;
    color: $secondary-dark;
  }

  .service-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .service-card {
      display: flex;
      align-items: center; // centra verticalmente
      gap: 20px; // separación entre imagen y texto
      width: 45%;
      margin-bottom: 20px;
      min-height: 170px;
      padding: 15px;
      border: 1px solid #ddd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.01);
      }

      .image-container {
        width:42%;
        height:250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 6px;
        }
      }

      .service-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0 0 0.5rem;
        }

        p {
          margin: 0;
        }

        button {
          margin-top: 10px;
          padding: 10px 15px;
          width: 120px;
          background-color: $accent-light;
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 4px;
        }
      }

      &.reverse {
        flex-direction: row-reverse;
      }
    }
  }
}

/* Responsivo */
@media (max-width: $screen-sm) {
  .services-container {
    .service-wrapper {
      flex-direction: column;
      align-items: center;

      .service-card {
        width: 95%;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .services-container {
    .service-wrapper {
      .service-card {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px; // separación entre imagen y texto también en móvil
        min-height: auto;

        .image-container {
          width: 100%;
          height: 180px;
        }

        .service-content {
          width: 100%;
          padding-top: 10px;
        }

        &.reverse {
          flex-direction: column;
        }
      }
    }
  }
}
